body {
    font-family: sans-serif;
    margin: 20px;
}

.product-input,
.product-list,
.summary {
    margin-bottom: 10px;
    padding: 15px;
}

.product-input input[type="text"],
.product-input input[type="number"],
.product-input input[type="search"],
.product-input button {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.product-input button {
    cursor: pointer;
    background-color: #e5e7eb;
    color: black;
    border: none;
    margin-top: 10px;
}

.product-input button:hover {
    background-color: #d8d9db;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.actions button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.actions .edit {
    background-color: #ff9800;
    color: white;
}

.actions .delete {
    background-color: #f44336;
    color: white;
}

.summary p {
    margin: 5px 0;
    font-weight: bold;
}
